[Desktop Entry]
Name=RokuRemote
Comment=Runs the roku remote
Exec=python /opt/roku/remote.py
Icon=/usr/share/icons/gnome/scalable/categories/applications-multimedia-symbolic.svg
Terminal=false
Type=Application
StartupNotify=true
